<h5 class="card-user row align-items-center">
  <div class="mr-2">
    <%= image_tag post.user.get_profile_image(100,100), class:'rounded-circle profile-icon' %>
  </div>
  <div class="mr-4">
    <%= post.user.name %>
  </div>
  <div class="ml-auto">
    <%= post.created_at.strftime("%Y/%m/%d") %>
  </div>
</h5>