<div class="container">
  <div class="row">
    <h1>post/index</h1>
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'public/users/public_side' %>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% @posts.each do |post| %>
          <%= render 'post', post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>