<div class="container">
  <div class="row">
    <div class="title">フォロワー一覧</div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'public/posts/public_side' %>
    </div>
    <div class="col-8">

    </div>
  </div>
</div>