<div class="col-5 card rounded-3 mx-auto text-center">
  <h1 class="card-title py-3 text-white bg-danger">Fleur Crayon</h1>
  <h4 class="card-text py-4" style="line-height:3rem">
    好きな文房具<br>
    オススメの文房具を<br>
    共有しよう！</h4>
</div>