<div class="container">
  <div class="row no-gutters">
    <%= render 'about' %>
    <div class="col-5 card rounded-5 bg-white mx-auto py-4">
      <div class="card-link pt-3 border-top border-5 text-center">
        <h5>ログインはこちら</h5>
        <%= link_to 'ログイン', new_user_session_path, class:'btn btn-primary' %>
      </div>
      <div class="card-link text-center pt-3 ml-0">
        <h5>新規登録はこちら</h5>
        <%= link_to '新規登録', new_user_registration_path, class:'btn btn-primary' %>
      </div>
      <div class="card-link text-center py-3 border-bottom ml-0">
        <h5>ゲストログインはこちら</h5>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, class:'btn btn-primary', method: :post %>
      </div>
    </div>
  </div>
</div>
