<div class="sidebar border bg-white py-3">
  <ul>
    <li>
      <p class="h5 mt-4 mb-3"><%= link_to'ユーザ一覧', admin_users_path, class:"text-decoration-none" %></p>
    </li>
    <li>
      <p class="h5 mt-4"><%= link_to'投稿一覧', admin_top_path, class:"text-decoration-none" %></p>
    </li>
    <li>
      <p class="h5 mt-4"><%= link_to'ログアウト', destroy_admin_session_path, method: :delete, class:"text-decoration-none" %></p>
    </li>
  </ul>
</div>