@use '~bootstrap/scss/bootstrap';

.profile-icon{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

li{
  list-style: none;
}

.main{
  background: linear-gradient(-225deg, #FFFFAA 15%, #FF69A3 100%);
}

footer{
  background: #D2691E;
}

.card-top{
  background-image: url("/assets/ccenpintsu_2_TP_V.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.table-responsive{
  overflow-x: auto;
}

.error-message{
  border: 3px solid red;
  background-color: #FFB6C1;
  border-radius: 10px;
}

.flash-message{
  border-radius: 5px;
  padding: 10px 24px;
  margin: 16px 8px;
}

.flash-message.notice{
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert{
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

@media screen and (max-width:768px){

  .card-top{
  height: 100%;
}

}