@use '~bootstrap/scss/bootstrap';

.profile-icon{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

li{
  list-style: none;
}

.main{
  background: linear-gradient(-225deg, #FFFFAA 15%, #FF69A3 100%);
}

footer{
  background: #D2691E;
}

.card-top{
  background-image: url("/assets/ccenpintsu_2_TP_V.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.table-responsive{
  overflow-x: auto;
}