<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <h5 class="title">ブックマーク一覧</h5>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'post_side' %>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% if @bookmarks.present? %>
          <% @bookmarks.each do |post| %>
            <%= render 'public/posts/post', post: post %>
          <% end %>
        <% else %>
          <p>ブックマークされた投稿はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>